[submodule "beaver-backend"]
	path = beaver-backend
	url = https://github.com/inha-carbon-neutral-seven/beaver-backend.git
[submodule "beaver-frontend"]
	path = beaver-frontend
	url = https://github.com/inha-carbon-neutral-seven/beaver-frontend.git
